:root {
    --blue-dark: #022240;
    --blue-bright: #0049ff;
    --blue-light: #dbe8ff;

    --text-light: #f3e5f5;
    --bg-alpha: rgba(2, 34, 64, 0.8);
    --border-alpha: rgba(0, 73, 255, 0.5);
    --gradient-primary: linear-gradient(135deg, #0049ff 0%, #022240 100%);
    --gradient-secondary: linear-gradient(135deg, #0049ff 0%, #0036a3 100%);
}
